.red {
  background: red;
}

.orange {
  background: orange;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.lazure {
  background: aqua;
}

.blue {
  background: blue;
}

.violet {
  background: violet;
}